.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.imagen{
   position: relative;
    width: 24.5rem;
    height: 24.5rem;
   
}
.container h3 {
position: relative;
font-size: small;
bottom: 3rem;
}