@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
.container {
   display: flex;   
   flex-direction: column;
   align-items: center;
   align-content: center;
   background-image: url(../../multimedia/dogFondo-min.jpg);
   background-repeat: no-repeat;
   background-position: center ;
   background-size: cover;
   
   
}
.cargando{
   width: 100vw;
   height: 100vh;
}

.btns{
 
     padding-top: 5rem;
     padding-left: 10.5rem;
}

.noDogs {

font-family: 'Dancing Script';
font-size: xx-large;
text-align: center;
background-color: rgba(255, 228, 196, 0.61);
height: fit-content;
}

.imageDog {
   width: 30rem;
   height: 30rem;
}

.btnBackHome {
   font-family: 'Dancing Script';
   width: 2rem;
   font-size: xx-large;
   padding: 3px;
   width: fit-content;
   border-radius: 20px;
   background-color: rgba(255, 228, 196, 0.463);
   border: 0px;
   margin-left: 10rem;
}

.noRace{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 37.32rem;
   width: 68rem;
}

.noRace div {
   position: relative;
   
}

.noRace h2{
   font-family: 'Dancing Script';
   background-color: rgba(255, 228, 196, 0.463);
   height: fit-content;
   margin-bottom: 5rem;
}

.noRace h3{
   font-family: 'Roboto Slab';
   background-color: rgba(255, 228, 196, 0.463);
   height: fit-content;
}

.noRace button {
   font-family: 'Roboto Slab';
   width: 2rem;
   font-size: xx-large;
   padding: 3px;
   width: fit-content;
   border-radius: 20px;
   background-color: rgba(255, 228, 196, 0.463);
   border: 0px;
 
}

.noCreateDogs{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 37.32rem;
   width: 60rem;
}

.noCreateDogs div {
   position: relative;
   
}

.noCreateDogs h2{
   font-family: 'Dancing Script';
   height: fit-content;
   margin-bottom: 5rem;
}

.noCreateDogs h3{
   font-family: 'Roboto Slab';
   background-color: rgba(255, 228, 196, 0.463);
   height: fit-content;
}

.noCreateDogs button {
   font-family: 'Roboto Slab';
   width: 2rem;
   font-size: xx-large;
   padding: 35px;
   width: fit-content;
   border-radius: 20px;
   background-color: rgba(255, 228, 196, 0.463);
   border:  0px;
   margin-right: 50px;
  


 
}
